:root {
  --border-color: rgb(27, 20, 12);
  --body-background-color: #be9356;
  --primary-background-color: rgb(89, 58, 27);
  --section-background-color: #906d3c;
  --space-between-texts: 4%;
  --secondary-color: antiquewhite;
  --border-width: 0.45rem;
  --margin-section-elements: 0.675rem;

  height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

body {
  background-color: var(--body-background-color);
  height: 100%; /* Body wasn't ocuppying all the page initially (why?) */
}

/* body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh 75vh 10vh;
  grid-template-areas:
    'h'
    's'
    'f';
} */

header {
  background-color: var(--primary-background-color);
  /* grid-area: h; */
  height: 5.23rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom-style: solid;
  border-bottom-width: var(--border-width);
  border-bottom-color: var(--border-color);
}

section {
  background-color: var(--section-background-color);
  /* grid-area: s; */

  /* margin: 0.75%; */
  padding: 0.63rem;
  height: 78vh;
  width: 100%;

  position: relative;
}

.text,
.image {
  border-radius: 8px;
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--border-color);
}

/* Colocar shadow */
.text {
  position: absolute;
  z-index: 1;
  background-color: var(--section-background-color);
  width: 50%;
  top: 30%;
  min-width: 17.8rem;
}

.image {
  /* width: 100%; */
  width: 80%;
  height: 74.62vh;
  background-image: url(coffe.jpg);
  background-size: cover;
  border-left-style: solid;
  border-color: var(--border-color);
  position: absolute;
  /* left: 19.25%; 20 - 0.75% --no need for this, because i set that the distance from right is 0.675rem, which is equal to 10.8px that is the padding of section and the left ""margin (it's not the margin it's the padding)"" of text*/
  right: var(--margin-section-elements);
  bottom: var(--margin-section-elements);
  top: var(--margin-section-elements);
}

span {
  color: var(--secondary-color);
}

#header2 {
  margin-bottom: var(--space-between-texts);
}

.description {
  margin-bottom: var(--space-between-texts);
}

.label {
  margin-bottom: 2%;
}

input {
  height: 1.61rem;
  width: 80%;
  background-color: var(--secondary-color);
  border: none;
  border-left-style: solid;
  border-left-color: var(--border-color);
  border-left-width: 0.4rem;
  padding-left: 0.25rem;
}

.text {
  padding: 1%;
}

/* FOOTER */

footer {
  background-color: var(--primary-background-color);
  /* grid-area: f; */
  /* height: 6.25rem; */

  border-top-style: solid;
  border-top-color: var(--border-color);

  display: flex;
  flex-direction: column;
}

#footer-content {
  display: flex;
  /* align-content: flex-end; */
}

/* Contact text of footer */
#contact {
  align-self: center;
}

/* Ways of contacting */
#info {
  /* No need for display inline in any because all of them widths and heights are occupying just the necesary space */
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* align-content: center; */
}

@media (max-width: 690px) {
  .text {
    top: 25%;
  }
}
