:root {
  --border-color: rgb(27, 20, 12);
  --body-background-color: #be9356;
  --header-background-color: rgb(89, 58, 27);
  --section-background-color: #906d3c;
  --space-between-texts: 4%;
  --secondary-color: antiquewhite;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

body {
  background-color: var(--body-background-color);
}

/* body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh 75vh 10vh;
  grid-template-areas:
    'h'
    's'
    'f';
} */

header {
  background-color: var(--header-background-color);
  /* grid-area: h; */
  height: 13vh;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom-style: solid;
  border-bottom-width: 0.45rem;
  border-bottom-color: var(--border-color);
}

section {
  background-color: var(--section-background-color);
  /* grid-area: s; */

  /* margin: 0.75%; */
  padding: 0.75%;
  height: 80vh;
  width: 100%;

  position: relative;
}

.info {
  /* width: 100%; /*If a flex item width is above 50% and the other is 50%, i think that the other will occupy the 50% of what rests to it (CORRECTION: ACTUALLY IT IS IN PROPORTION, */
  width: 75vw;
  /* height: 50%; */
  color: var(--border-color);
  border-right-style: solid;
  border-right-color: var(--border-color);
}

.text,
.image {
  border-radius: 8px;
  border-style: solid;
  border-width: 0.45rem;
  border-color: var(--border-color);
}

.text {
  position: absolute;
  z-index: 1;
  background-color: var(--section-background-color);
  width: 50%;
  top: 30%;
}

.image {
  /* width: 100%; */
  width: 80%;
  height: 30rem;
  background-image: url(coffe.jpg);
  background-size: cover;
  border-left-style: solid;
  border-color: var(--border-color);
  position: absolute;
  left: 19.25%; /*20 - 0.75% */
}

footer {
  background-color: var(--secondary-color);
  grid-area: f;
}

span {
  color: var(--secondary-color);
}

#header2 {
  margin-bottom: var(--space-between-texts);
}

.description {
  margin-bottom: var(--space-between-texts);
}

.label {
  margin-bottom: 2%;
}

input {
  height: 4vh;
  width: 80%;
  background-color: var(--secondary-color);
  border: none;
  border-left-style: solid;
  border-left-color: var(--border-color);
  border-left-width: 0.4rem;
  padding-left: 0.25rem;
}

.text {
  padding: 1%;
}
