* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh 75vh 10vh;
  grid-template-areas:
    'h'
    's'
    'f';
}

header {
  background-color: rgb(89, 58, 27);
  grid-area: h;

  display: flex;
  justify-content: center;
  align-items: center;

  /* border-bottom: 5px;
  border-color: white; */
}
section {
  background-color: rgb(171, 141, 110);
  grid-area: s;
}
footer {
  background-color: antiquewhite;
  grid-area: f;
}

span {
  color: antiquewhite;
}
