:root {
  --border-color: rgb(27, 20, 12);
  --body-background-color: #be9356;
  --primary-background-color: rgb(89, 58, 27);
  --section-background-color: #906d3c;
  --space-between-texts: 4%;
  --secondary-color: antiquewhite;
  --border-width: 0.45rem;
  --margin-section-elements: 0.675rem;

  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

body {
  background-color: var(--body-background-color);
  height: 100%; /* Body wasn't ocuppying all the page initially (why?) */

  /* Display flex used so the boxes will occuppy all the page if there is remaining space (using "flex-grow" into "header") */
  display: flex;
  flex-direction: column;
}

/* body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh 75vh 10vh;
  grid-template-areas:
    'h'
    's'
    'f';
} */

header {
  /* grid-area: h; */

  /* Minimun height of the header (will be 5.23rem in any vw and vh of the user) */
  height: 5.23rem; /* MAYBE MAKE THIS MIN-HEIGHT BUT I DON'T KNOW IF IT WILL BREAK SOMETHING ELSE */

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-background-color);

  border-bottom-style: solid;
  border-bottom-width: var(--border-width);
  border-bottom-color: var(--border-color);

  /* flex-grow being used so the header will occuppy all the remaining space in the page */
  flex-grow: 1;
}

section {
  background-color: var(--section-background-color);
  /* grid-area: s; */

  /* margin: 0.75%; */
  padding: 0.63rem;
  height: 78%;
  width: 100%;

  position: relative;
}

.text,
.image {
  border-radius: 8px;
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--border-color);
}

/* Colocar shadow */
.text {
  position: absolute;
  z-index: 1;
  background-color: var(--section-background-color);
  width: 50%;
  top: 30%;
  min-width: 17.8rem;
}

.image {
  /* width: 100%; */
  width: 80%;
  height: 100%;

  background-image: url(./images/coffe.jpg);
  background-size: cover;
  background-position: bottom;
  border-left-style: solid;
  border-color: var(--border-color);

  /* left: 19.25%; 20 - 0.75% --no need for this, because i set that the distance from right is 0.675rem, which is equal to 10.8px that is the padding of section and the left ""margin (it's not the margin it's the padding)"" of text*/

  /* Removed position absolute, because I can position the div just using margin, and this way the box will ALWAYS be INSIDE "section" and will never overlap it (with absolute even when height was lower than 100% it was overlapping the section's height */
  margin-left: 20%; /* width + margin = 100% !*/

  /*Bottom and top margin are in percentage*/
  /* bottom: 2.15%;
  top: 2.15%; */
}

span {
  color: var(--secondary-color);
}

#header2 {
  margin-bottom: var(--space-between-texts);
}

.description {
  margin-bottom: var(--space-between-texts);
}

.label {
  margin-bottom: 2%;
}

input {
  height: 1.61rem;
  width: 80%;
  background-color: var(--secondary-color);
  border: none;
  border-left-style: solid;
  border-left-color: var(--border-color);
  border-left-width: 0.4rem;
  padding-left: 0.25rem;
}

.text {
  padding: 1%;
}

/* FOOTER */
footer {
  background-color: var(--primary-background-color);
  /* grid-area: f; */
  /* height: 6.25rem; */

  border-top-style: solid;
  border-top-color: var(--border-color);

  /* O justify-self não funcionava, logo o footer não ficava preso no bottom, para prendê-lo eu poderia usar um "margin-top: auto" que tbm n estava funcionando ou usar o flex-grow, dessa forma seu container cresceria para ocupar todo o restante da tela, mas preferi colocar isso no header */
  display: flex;
  flex-direction: column;
}

#footer-content {
  display: flex;
  /* align-content: flex-end; */
}

/* Contact text of footer */
#contact {
  align-self: center;
}

/* Ways of contacting */
#info {
  /* No need for display inline in any because all of them widths and heights are occupying just the necesary space */
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* align-content: center; */
}

#social-media {
  display: flex;
}

/* Space between icons in footer */
#github {
  /* Needed to use vw here because parent is a link and not the footer itselk (the "a" is using just space as needed) */
  margin-right: 0.5vw;
}

@media (max-width: 690px) {
  .text {
    top: 25%;
  }
}

@media (max-height: 482px) {
  body {
    display: block;
  }

  .text {
    top: 0;
    margin-top: var(--margin-section-elements);
  }
}

@media (max-height: 337px) {
  section {
    height: 16.38rem;
  }
}

@media (max-height: 512px) and (max-width: 363px) {
  /* Body was display block because of the @media (max-height: 482px) */
  body {
    display: flex;
  }

  section {
    /* Making box-sizing content-box I can control the exact size that the section should have inside, which will contain the .text div */
    box-sizing: content-box;
    height: 16.96rem;

    /* The padding would overlap the vw because the width being computed belongs to the content, and the padding won't be computed in the property "width" because of box-sizing: content-box */
    padding-right: 0;
    padding-left: 0;
  }

  .image {
    display: none;
  }

  .text {
    position: static;
    margin: auto;
  }

  header {
    min-height: 5.23rem;
  }
}
