:root {
  --border-color: rgb(27, 20, 12);
  --body-background-color: #be9356;
  --header-background-color: rgb(89, 58, 27);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

body {
  background-color: var(--body-background-color);
}

/* body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh 75vh 10vh;
  grid-template-areas:
    'h'
    's'
    'f';
} */

header {
  background-color: var(--header-background-color);
  /* grid-area: h; */
  height: 13vh;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom-style: solid;
  border-bottom-width: 0.45rem;
  border-bottom-color: var(--border-color);
}

section {
  background-color: #906d3c;
  /* grid-area: s; */

  margin: 0.75% 23% 0.75% 0;

  border-radius: 8px;
  border-style: solid;
  border-width: 0.45rem;
  border-color: var(--border-color);

  position: relative;
  left: 22.25%; /* 23% - 0.75 */
}

.info {
  /* width: 100%; /*If a flex item width is above 50% and the other is 50%, i think that the other will occupy the 50% of what rests to it (CORRECTION: ACTUALLY IT IS IN PROPORTION, */
  width: 75vw;
  /* height: 50%; */
  color: var(--border-color);
  border-right-style: solid;
  border-right-color: var(--border-color);
}

.text {
  position: absolute;
  right: 50%;
}

.image {
  /* width: 100%; */
  width: 100%;
  height: 75vh;
  background-image: url(coffe.jpg);
  background-size: cover;
  border-left-style: solid;
  border-color: var(--border-color);
}

footer {
  background-color: antiquewhite;
  grid-area: f;
}

span {
  color: antiquewhite;
}
